.forgotPassword{
    background-color: #D9D9D9;
    margin:auto;
    width: 40%;	
}
.forgotPassword-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
}
.guid-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.guid-img{
	width: 100px;
	margin-right: 20px;
}
.guid-paragraph{
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forgotPassword-form{
	margin: 20px 100px;
	width: 70%;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.email-input{
	width: 100%;
	padding: 10px 20px;
	border-radius: 80px;
	overflow: hidden;
	margin-bottom: 20px;
}
.btn-sendotp{
	border: none;
	background: none;
	color: var(--main-color);
	padding: 0px;
	height: 50%;
	width: 40px;
	right: 4px;
	top:5px;	
	position: absolute;
}